body { /* Changed the font style */
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 { /* Heading format */
  font-size: 3em;
  margin: 0.25em 0;
}

h3 { /* Sub-heading format */
  font-size: 2em;
  margin: 0.25em 0;
}

h4 { /* Sub-sub-heading format */
  font-size: 1.5em;
  margin: 0.25em 0;
  font-weight: bold;
}

p { /* First paragraph format */
  font-size: 1em;
  color: #ffb700;
}


p1 { /* Second paragraph format */
  font-size: 1em;
  color: #5db4c1;
}

p2 { /* Song link format */
  font-size: 1em;
  color: #6f3b00;
}

.center-img { /* Image placement format */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* Optional: Setting a width is often necessary */
}

p3 { /* Image citation format */
  font-size: .5em;
  color: #000000;
}