/* TBD*/
 .circle {
            stroke: #d95f0e;
            stroke-width: 2px;
            opacity: .75;
            
        }

 .labels {
            text-anchor: middle;
            font-family: "Verdana", sans-serif;
            
        }